{% extends 'layout.html' %}

{% block content %}
<p>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                {% if form %}
                   <form action=''>
                       {% for field in forms %}
                           <div class="form-group">
                               {{ field }}
                            </div>
                       {% endfor %}
                       <input type="submit" value="submit" class="btn btn-outline-primary">
                   </form>
                {% else %}
                    <p class="text-danger">No Form avilable</p>
                    
                {% endif %}

            </div>
            <div class="col"></div>
        </div>
    </div>
</p>
{% endblock %}